@media screen and (max-width:1842px) and (min-width:992px) {
    .hero{
        
    }
    .hero-heading h1{
        font-size: 40px;
    }
    .head-banner{
        justify-content: center;
    }
    .hero-heading{
        left: 0;
        right: 160px;
    }
    .head-banner img{
        right: 0;
        left: 160px;
        height: 350px;
        top: 60px;
    }
    .player-items{
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        
    }
    .player-item img {
        height: 255px;
        width: 308px;
    }
    .memory-items{
        grid-template-columns: repeat(2, 1fr);
    }
    .highlights-img img {
        height: 341px;
    width: 485px;
        right: 0;
    }
    .img-item{
        width: 496px;
    }
    .memory img{
        width: 400px;
    }
    .heading h1{
        font-size: 40px;
    }
    .heading p {
        width: 67%;
    }
}
@media screen and (max-width:991px) and (min-width:688px) {
    .hero-heading h1 {
        font-size: 25px;
    }
    .head-banner{
        justify-content: center;
    }
    .hero-heading{
        left: 0;
        right: 160px;
    }
    .head-banner img{
        right: 0;
        left: 50px;
    height: 261px;
        top: 60px;
    }
    .player-items{
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .player-item img {
        height: 255px;
        width: 308px;
    }
    .memory-items{
        grid-template-columns: repeat(1, 1fr);
    }
    .highlights-img img {
        height: 341px;
        width: 687px;
        right: 0;
    }
    .highlights{
        flex-direction: column;
        justify-content: center;
    }
    .heading{
        width: 100%;
        left: 0;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .img-item{
        width: 496px;
    }
    .memory img{
        width: 400px;
    }
    .heading h1{
        font-size: 40px;
    }
    .heading p {
        width: 67%;
    }
    .footer-logo{
        width: 100%;
    }
    .footer-logo img{
        width: 80%;
    }
    .navbar ul li{
        margin-right: 0;
    }
    .login{
        width: 10%;
    }
    .highlights-img{
        display: flex;
    justify-content: center;
    }
}
@media screen and (max-width:687px) and (min-width:320px) {
    .hero-heading h1 {
        font-size: 25px;
    }
    .head-banner{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .players h1{
        position: relative;
    font-size: 25px;
    width: 51%;
    display: inline-block;
    left: 48px;
    }
    .hero-heading{
        left: -10px;
    right: 0px;
    width: 65%;
    margin-bottom: 53px;
    top: 30px;
    }
    .head-banner img{
        right: 0;
        left: 0;
        height: 187px;
    top: 26px;
    }
    .player-items{
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .player-item img {
        height: 153px;
        width: 182px;
    }
    .memory-items{
        grid-template-columns: repeat(1, 1fr);
    }
    .highlights-img img {
        height: 211px;
        width: 277px;
        right: 0;
    }
    .highlights{
        flex-direction: column;
        justify-content: center;
    }
    .heading{
        width: 100%;
        left: 0;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .img-item{
        width: 309px;
    }
    .memory img{
        width: 270px;
        height: 205px;
    }
    .heading h1{
        font-size: 40px;
    }
    .heading p {
        width: 67%;
    }
    .footer-logo{
        width: 100%;
    }
    .footer-logo img{
        width: 80%;
    }
    .navbar ul li{
        margin-right: 0;
        font-size: 6px;
    }
    .navbar ul{
        padding: 0;
        left: 20px;
        display: none;
        
    }
    .login{
        right: 3px;
        top: 42px;
        width: 13%;
        font-size: 6px;
        height: 21%;
    }
    .watch {
        width: 29%;
        height: 23px;
        font-size: 6px;
    }
    .highlights-img{
        display: flex;
    justify-content: center;
    }
    .memory h1{
        font-size: 30px;
    }
    .img-item{
        width: 309px;
        height: 269px;
    }
    .social-icon img{
        height: 25px;
    width: 25px;
    }
    .ham-menu{
        color: white;
    display: inline-block;
    height: 30px;
    width: 30px;
    position: relative;
    top: 36px;
    left: 10px;
    }
}